@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--Make my header for an intro of my topic-->
    <h1 class="display-4">Fashion inspired by Tyler the Creator</h1>
    <p>
        <b>
            Two of my favorite things are fashion and music. More specifically,
            I love the taste of Tyler the Creator, both in his music and clothing brand.
            This site is about him and his fashion, and from that, helping you find your style too.
        </b>
    </p>

    <!--Insert image and give background to story-->
    <img src="~/img/tylershoes.jpg" height="400" id="tylershoes" />

    <p>It all started in high school when I found the song "Glitter" by
        Tyler the Creator. I liked this song because it was unique and 
        I hadn't heard anything like it before. I looked into Tyler's music
        more and found his clothing line called GOLF. </p>

    <!--Insert second image and continue story-->
    <img src="~/img/golf.JPG" height="400" id="golf" />

    <p>I watched Tyler's fashion shows and fell in love with the style he
        created. I started to mirror my own style after his. Because of this,
        I've found a way to express myself through my clothes, and I am here to
        help you too!</p>

    <!--Insert third image-->
    <img src="~/img/highschool.JPG" height="400" id="highschool" />
</div>

